:root {
    /* colors */
    --cl-white: #FFFFFF;
    --cl-almost-white: #FEFEFE;
    --cl-green-dark: #7EB101;
    --cl-green-light: #BBF330;
    --cl-green-btn-light: #B5FF00;
    --cl-green-btn-dark: #597D00;
    --cl-green-: #A7CE47;
    --cl-yellow:#FFE550;
    --cl-accent: #FF4D8D;
    --cl-black: #2C2C2C;
    --cl-txt-email: #505050;
    --cl-black: #000000;
    // --cl-txt-: #3D3D3D;
    // --cl-txt-: #969696;
    // --cl-txt-: #4A4A4A;
    // --cl-txt-: #2C2C2C;

    /* fonts */
    --main-font: 'Roboto', sans-serif;
    /* size */
    
    /* animat */
    --animat: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}