<section class="customers">
  <div class="container">
    <h2 class="customers__title">What our Customers Say</h2>
    <p class="customers__lable">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="customers__list">
    <li class="customers__item">
      <svg class="customers__icon" width="16" height="100">
        <use href="./images/symbol-defs.svg#icon-Stars"></use>
      </svg>
      <p class="customers__text">
        “The Best app I have used to order food in a while, so many options to
        choose from too, I would recommend to a freind, No questions asked”
      </p>
      <div class="customer__container">
        <img src="./images/customers/user-1-1x.png" width="48" height="48" alt="Фото клиента" />
        <div class="customer__wrapper">
          <span class="customer__subtitle">Sumith Shah</span>
          <span class="customer__desc">Some Dude</span>
        </div>
      </div>
    </li>
    <li class="customers__item">
      <svg class="customers__icon" width="16" height="100">
        <use href="./images/symbol-defs.svg#icon-Stars"></use>
      </svg>
      <p class="customers__text">
        “The Best app I have used to order food in a while, so many options to
        choose from too, I would recommend to a freind, No questions asked”
      </p>
      <div class="customer__container">
        <img src="./images/customers/user-2-1x.png" width="48" height="48" alt="Фото клиента" />
        <div class="customer__wrapper">
          <span class="customer__subtitle">Sumith Shah</span>
          <span class="customer__desc">Some Dude</span>
        </div>
      </div>
      </li>
      </ul>
    </div>
  </div>
</section>
