<footer class="footer">
    <div class="footer__container ">
     <div class="class">
        <nav class="footer__nav ">
            <a class="header__logo-link footer__logo-link footer__logo" href="" target="_blank" rel="noopener noreferrer">
                <svg class="header__logo-svg" width="63" height="45">
                    <use href="./images/symbol-defs.svg#Group-60"></use>
                </svg>
            </a>
            <ul class="footer__list  lst">
                <li class="footer__list-item current"> <a class="list-link lnk" href=""> Home</a></li>
                <li class="footer__list-item "><a class="list-link lnk" href=""> About</a></li>
                <li class="footer__list-item "><a class="list-link lnk" href=""> Service</a></li>
                <li class="footer__list-item "><a class="list-link lnk" href=""> Menu</a></li>
                <li class="footer__list-item "><a class="list-link lnk" href=""> Contact</a></li>
            </ul>
            </nav> 
            <div class="footer-subscribe">
                <h3 class="footer-subscribe__title">Subscribe</h3>
                <form class="footer-subscribe__form">
                    <input class="footer-subscribe__input" name="mail" type="email" placeholder="Enter your email">
                    <button class="footer-subscribe__btn" type="submit">Subscribe
                    </button>
                </form>
            </div>
     </div>
     <p class="footer__policy">By subscribing you agree to with our <a class="footer__privacy-link" href="./">Privacy Policy</a></p>
    <div class="policy">
       
        <ul class="footer__list-pivacy lst">
            <li class="footer__list-pivacy-item"><a class="footer__list-pivacy-link" href="./">Privacy Policy</a></li>
            <li class="footer__list-pivacy-item"><a class="footer__list-pivacy-link" href="./">Terms of Service</a></li>
            <li class="footer__list-pivacy-item"><a class="footer__list-pivacy-link" href="./">Cookies Settings</a></li>
        </ul>
        <p class="footer__reserved">2022 FoodSta. All right reserved.</p>
  

    </div>    
    </div>
    </footer>