<footer class="footer" id="Contact">

    <div class="footer__container container ">
    <div class="class">
        
        <nav class="footer__nav ">
            <a class="header__logo-link footer__logo-link footer__logo" href="#home" target="_blank" rel="noopener noreferrer" aria-label="Logo Link to the main page of the restaurant">
                <svg class="header__logo-svg img" width="52" height="51">
                    <use href="./images/symbol-defs.svg#Group-60"></use>
                </svg>
            </a>
            <ul class=" nav__footer  lst">
                <li class="nav__list-item nav__list-item__activegit"> <a class="nav__list-link-footer  lnk" href="#home"> Home</a></li>
                <li class="nav__list-item "><a class="nav__list-link-footer  lnk" href="#About"> About</a></li>
                <li class="nav__list-item "><a class="nav__list-link-footer  lnk" href="#Service"> Service</a></li>
                <li class="nav__list-item "><a class="nav__list-link-footer  lnk" href="#Menu"> Menu</a></li>
                <li class="nav__list-item "><a class="nav__list-link-footer  lnk" href="#Contact"> Contact</a></li>
            </ul>
        </nav> 
            <div class="class2">
                <div class="footer-subscribe">
                    <h3 class="footer-subscribe__title">Subscribe</h3>
                    <form class="footer-subscribe__form">
                        <input class="footer-subscribe__input" name="mail" type="email" placeholder="Enter your email">
                        <button class="subscribe__button button" type="submit">Subscribe
                        </button>
                    </form>
                </div>
                <span class="footer__policy">By subscribing you agree to with our&nbsp;
                    <a class="footer__privacy-link" href="./"> Privacy Policy</a></span>
            </div>
        </div>
            <div class="policy">
            <ul class="footer__list-pivacy lst">
                <li class="footer__list-pivacy-item"><a class="footer__list-pivacy-link" href="./">Privacy Policy</a></li>
                <li class="footer__list-pivacy-item"><a class="footer__list-pivacy-link" href="./">Terms of Service</a></li>
                <li class="footer__list-pivacy-item"><a class="footer__list-pivacy-link" href="./">Cookies Settings</a></li>
            </ul>
            <p class="footer__reserved">2022 FoodSta. All right reserved.</p>
        </div>   
    </div>
</footer>