<header class="header">
<div class="header__container container">
    <nav class="site-nav">
        <a href="./" class="header__logo-link">
            <div class="header__logo-box"> </div>
            <ul class="header__nav-list">
                <li class="header__nav-item">Home</li>
                <li class="header__nav-item">About</li>
                <li class="header__nav-item">Service</li>
                <li class="header__nav-item">Menu</li>
                <li class="header__nav-item">Contact</li>
            </ul>
            <button type="button" class="header__order-btn order-btn">Order Now</button>
            <button type="button" class="header__menu-btn">
                <svg class="header__menu-icon" width="28" height="18">
                    <use href=""></use>
                </svg>
            </button>
        </a>
    </nav>
</div>    
</header>