<header class="header">
    <div class="container header__container">
        <!-- Logo link svg -->
        <a class="header__logo-link" href="" target="_blank" rel="noopener noreferrer">
            <svg class="header__logo-svg" width="63" height="45">
                <use href="./images/symbol-defs.svg#Group-60"></use>
            </svg>
        </a>
        <nav class="site-nav header__nav">

            <!-- Header modal btn -->
           <button type="button" class="header__modal-btn" data-menu-open="">
                <svg class="header__modal-btn-svg" width="23" height="16">
                    <use href="./images/symbol-defs.svg#gg_menu"></use>
                </svg>
            </button>
            <ul class="header__list lst">

                <li class="header__list-item current"><a class="list-link lnk"> Home </a></li>
                <li class="header__list-item "><a class="list-link lnk"> About </a></li>
                <li class="header__list-item "><a class="list-link lnk"> Service </a></li>
                <li class="header__list-item "><a class="list-link lnk"> Menu </a></li>
                <li class="header__list-item "><a class="list-link lnk"> Contact </a></li>

            </ul>
          
            <button type="button" class="header__order-btn button" >
            Order Now
            </button>
        </nav>
    </div>
    </header>