<section class="hero section" id="About">
    <div class="hero__container container">
      <div class="hero__wrap-txt">
        <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
        <p class="hero__txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
        <!-- Button open modal -->
        <button type="button" class="hero__btn button" data-modal-open-hero>Order Now</button>
      </div>
    <div class="hero__wrap-img">
      <div class="swiper hero__circle">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <picture class="hero__img img">
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/hero/hero-1200-2-1x.webp 1x,
                  ./images/hero/hero-1200-2-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/hero/hero-1200-2-1x.jpg 1x,
                  ./images/hero/hero-1200-2-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/hero/hero-768-3-1x.webp 1x,
                  ./images/hero/hero-768-3-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/hero/hero-768-3-1x.jpg 1x,
                  ./images/hero/hero-768-3-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img class="img" src="./images/hero/hero.jpg" alt="Meats" width="292" height="292"/>
            </picture>
          </div>
          <div class="swiper-slide">
            <picture class="hero__img img">
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/hero/hero-1200-1-1x.webp 1x,
                  ./images/hero/hero-1200-1-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/hero/hero-1200-1-1x.jpg 1x,
                  ./images/hero/hero-1200-1-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/hero/hero-768-1-1x.webp 1x,
                  ./images/hero/hero-768-1-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/hero/hero-768-1-1x.jpg 1x,
                  ./images/hero/hero-768-1-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img class="img" src="./images/hero/hero.jpg" alt="Salad" width="292" height="292"/>
            </picture>
          </div>
          <div class="swiper-slide">
            <picture class="hero__img img">
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/hero/hero-1200-3-1x.webp 1x,
                  ./images/hero/hero-1200-3-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/hero/hero-1200-3-1x.jpg 1x,
                  ./images/hero/hero-1200-3-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/hero/hero-768-2-1x.webp 1x,
                  ./images/hero/hero-768-2-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/hero/hero-768-2-1x.jpg 1x,
                  ./images/hero/hero-768-2-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img class="img" src="./images/hero/hero.jpg" alt="Egges" width="292" height="292"/>
            </picture>
          </div>
        </div>
      </div>
      <!-- Navigation slider buttons -->
      <div class="swiper-button-prev">
        <svg class="hero__icon hero__icon--desk" width="16.5" height="29">
          <use href="./images/symbol-hero.svg#prev"></use>
        </svg>
        <svg class="hero__icon hero__icon--tab" width="11.5" height="20.3">
          <use href="./images/symbol-hero.svg#prev-sm"></use>
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg class="hero__icon hero__icon--desk" width="16.5" height="29">
          <use href="./images/symbol-hero.svg#next"></use>
        </svg>
        <svg class="hero__icon hero__icon--tab" width="11.5" height="20.3">
          <use href="./images/symbol-hero.svg#next-sm"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
