<!-- Offerings -->

<section class="offerings">
    <div class="container">
        <h2 class="">What’s Special About Our Offerings</h2>
        <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
            Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
        <ul class="">
            <li class="">
                <svg width="" hight="">
                    <use href=""></use>
                </svg>
                <h3 class="">Fasest Delivery</h3>
                <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
            </li>
            <li class="">
                <svg width="" hight="">
                    <use href=""></use>
                </svg>
                <h3 class="">Easy to order</h3>
                <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
            </li>.
            <button class="" type="button">Order Now</button>
            <a class="" href="" target="_blank" rel="noopener noreferrer" aria-label="read more">Read More</a>
        </ul>
    </div>
</section>