<!-- Offerings -->

<section class="section offerings">
  <div class="container">
    <h2 class="offerings__title offerings--position">
      What’s Special About Our Offerings
    </h2>
    <p class="offerings__desc offerings--position">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <ul class="lst offerings__lst offerings--position">
      <li class="offerings__item">
        <!-- <svg width="48" hight="48">
          <use href="./images/symbol-defs.svg#Icon-Deliv"></use>
        </svg> -->
        <h3 class="offerings__caption">Fasest Delivery</h3>
        <p class="offerings__txt">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </li>
      <li class="offerings__item">
        <!-- <svg width="48" hight="48">
          <use href="./images/symbol-defs.svg#Icon-Order"></use>
        </svg> -->
        <h3 class="offerings__caption">Easy to order</h3>
        <p class="offerings__txt">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </li>
    </ul>
    <button 
    class="offerings__btn" 
    type="button">Order Now</button>
    <a
      class="lnk"
      href=""
      target="_blank"
      rel="noopener noreferrer"
      aria-label="read more"
      >Read More</a
    >
  </div>
</section>
