<!-- Offerings -->

<section class="section container offerings" id="Service">
  <div class="offerings__inner">
    <div class="offerings__img offerings__img--position">
      <picture>
        <!-- desctop screen -->
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/offerings/Apple-1200-1x.webp 1x,
            ./images/offerings/Apple-1200-2x.webp 2x
          "
          type="image/webp"
        />

        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/offerings/Apple-1200-1x.png 1x,
            ./images/offerings/Apple-1200-2x.png 2x
          "
          type="image/png"
        />

        <!-- tablet screen -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/offerings/Apple-768-1x.webp 1x,
            ./images/offerings/Apple-768-2x.webp 2x
          "
          type="image/webp"
        />

        <source
          media="(min-width: 768px)"
          srcset="
            ./images/offerings/Apple-768-1x.png 1x,
            ./images/offerings/Apple-768-2x.png 2x
          "
          type="image/png"
        />

        <!-- mobile screen -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/offerings/Apple-480-1x.webp 1x,
            ./images/offerings/Apple-480-2x.webp 2x
          "
          type="image/webp"
        />

        <source
          media="(max-width: 767px)"
          srcset="
            ./images/offerings/Apple-480-1x.png 1x,
            ./images/offerings/Apple-480-2x.png 2x
          "
          type="image/png"
        />

        <!-- fallback -->
        <img
          class="img offerings__img--position"
          src="./images/offerings/Apple-480-1x.png"
          alt="Apple"
          width="280"
          height="309"
        />
      </picture>
    </div>
    <div class="offerings__content">
      <h2 class="section-title offerings__title--position">
        What’s Special About Our Offerings
      </h2>
      <p class="offerings__desc offerings__desc--position">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <ul class="lst offerings__lst offerings__lst--position">
        <li class="offerings__item">
          <h3 class="offerings__caption">Fasest Delivery</h3>
          <p class="offerings__txt">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
        <li class="offerings__item">
          <h3 class="offerings__caption">Easy to order</h3>
          <p class="offerings__txt">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
      </ul>
      <div class="offerings__thumb">
        <button class="offerings__btn" type="button" data-modal-open-offerings>
          Order Now
        </button>
        <a
          class="lnk offerings__lnk"
          href="#Castomers"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="read more"
          >Read More
          <svg class="offerings__icon" width="14" height="14">
            <use href="./images/symbol-defs.svg#chevron-down"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
