<section class="subscribe">
  <div class="container subscribe__container">
    <picture class="subscribe__img img">
      <source
        media="(min-width: 1280px)"
        srcset="
          ./images/subscribe/banan-1200-1x.webp 1x,
          ./images/subscribe/banan-1200-2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 1280px)"
        srcset="
          ./images/subscribe/banan-1200-1x.png 1x,
          ./images/subscribe/banan-1200-2x.png 2x
        "
        type="image/png"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/subscribe/banan-768-1x.webp 1x,
          ./images/subscribe/banan-768-2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/subscribe/banan-768-1x.png 1x,
          ./images/subscribe/banan-768-2x.png 2x
        "
        type="image/png"
      />
      <source
        media="(min-width: 480px)"
        srcset="
          ./images/subscribe/banan-480-1x.webp 1x,
          ./images/subscribe/banan-480-2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 480px)"
        srcset="
          ./images/subscribe/banan-480-1x.png 1x,
          ./images/subscribe/banan-480-2x.png 2x
        "
        type="image/png"
      />
      <img class="img" src="././images/subscribe/banan-480-1x.png"  alt="Yellow banan" width="280" height="78" />
    </picture>
    <div class="subscribe__wrap">
      <h2 class="subscribe__title">Subscribe To Get Special Offers</h2>
      <p class="subscribe__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>
        <form class="subscribe-form">
          <div class="subscribe-form__wrap">
          <input
            class="subscribe-form__input"
            type="email"
            name="mail"
            id="mail"
            placeholder="Enter your email"
          />
          <span class="subscribe-form__error"><svg class="subscribe-form__icon" width="12" height="12">
            <use href="./images/symbol.svg#icon-exclamation-mark"></use>
          </svg>Not a valid email address (example@email.com)</span>
          </div>
          <button class="subscribe__button subscribe__button--green" type="submit">Subscribe</button>
        </form>
    </div>
  </div>
</section>
