.button {
    min-width: 100px;
    height: 32px;
    border-radius: 16px;
    border: none;
    color: var(--cl-almost-black);
    background-color: var(--cl-green-light);
    @include fonts(13px, 500, 1.5);
    cursor: pointer;
    transition: background-color var(--animat);
}

.button:hover,
.button:focus {
    background-color: var(--cl-green-btn-light);
}