.button {
    min-width: 100px;
    height: 32px;
    border-radius: 30px;
    border: none;
    background-color: var(--cl-green-light);
    cursor: pointer;
    transition: background-color var(--animat);
}