.button {
    min-width: 100px;
    height: 32px;
    border-radius: 16px;
    border: none;

    @include fonts(13px, 500, 19.5px);

    color: var(--cl-almost-black);
    background-color: var(--cl-green-light);
    cursor: pointer;
    transition: background-color var(--animat);
}

.button:hover,
.button:focus {
    background-color: var(--cl-green-btn-light);
}

.subscribe__button{
    @include fonts(13, 500, 1.5);
    @include centered-flex;
    border-radius: 30px;
    width: 103px;
    height: 42px;
    color: var(--cl-almost-black);
    cursor: pointer;
    transition: background-color var(--animat);
}

.footer  .subscribe__button{  
    border: 0.854167px solid var(--cl-green-dark);
    @include mq(mob){
    margin-left: 12px;
    }
    background: #FFFFFF;
    &:hover ,
    &:focus{
    background-color:var(--cl-yellow);
    }
}