.no-scroll {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  opacity: 1;
  visibility: visible;
  transition: var(--animat);

  &--is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &--is-hidden .modal {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.3);
  }
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  max-width: 458px;
  height: 449px;
  background-color: var(--cl-yellow);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 30px;
  opacity: 1;
  transform: translate(-50%, -50%) scale(0.9);
  transition: transform var(--animat), opacity var(--animat);

  @include mq(mob-only) {
    max-width: 320px;
    max-height: 449px;
  }
}

.modal__btn-cls {
  @include centered-flex;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 16px;
  right: 16px;
  padding: 0;
  background-color: var(--cl-white);
  border-radius: 50%;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: fill var(--cl-yellow);

  @include mq(desk) {
    top: 12px;
    right: 12px;
  }

  &:hover,
  &:focus {
    fill: var(--cl-yellow);
  }
}

.form {
  padding: 32px 20px;
  height: 100%;

  .form__title {
    display: block;
    @include fonts(24px, 700, 1.2);
    text-align: center;
    margin-bottom: 20px;
  }
}

.form__group {
  margin-bottom: 14px;

  @include mq(mob-only) {
    margin-bottom: 17px;
  }
}

.form__label {
  display: block;
  margin-bottom: 6px;

  @include mq(mob-only) {
    margin-bottom: 9px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .form__text {
    display: block;
    @include fonts(16px, 500, 1.4);
    margin-left: 12px;
    margin-bottom: 2px;
  }
}

.form__input {
  width: 100%;
  padding: 14px 12px;
  border: 1px solid rgba(18, 18, 18, 0.12);
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  outline: transparent;
  border-radius: 30px;
  cursor: pointer;
  transition: border-color var(--animat);

  &:invalid ~ .form__text-error {
    opacity: 1;
  }

  &:invalid ~ .form__icon-error {
    opacity: 1;
  }

  &:not(:placeholder-shown):valid {
    border-color: var(--cl-green-dark);
  }

  &:not(:placeholder-shown):invalid {
    border-color: var(--cl-accent);
  }
}

.form__icon-error {
  opacity: 0;
  transition: opacity var(--animat);
  margin-left: 12px;
}

.form__text-error {
  opacity: 0;
  margin-left: 4px;
  color: var(--cl-accent);
  transition: opacity var(--animat);
  @include fonts(13px, 500, 1.4);
  @include mq(mob-only) {
    @include fonts(11px, 500, 1.4);
  }
}

.form__btn {
  display: block;
  margin: 0 auto;
  min-width: 106px;
  height: 40px;
  border-radius: 30px;
  background-color: var(--cl-white);
  border: 2px solid var(--cl-green-dark);
  transition: background-color var(--animat);

  &:hover,
  &:focus {
    background-color: var(--cl-green-light);
  }
}
.form__input:invalid + .form__btn {
  border-color: var(--cl-accent);
  background-color: var(--cl-white);
}
