
.up
{ 

position: sticky;
left : 47%;
bottom: 1%;
@include mq(tab) {
  bottom: 5%;
}
@include mq(desk) {
  bottom: 8%;
}

transform: translateX(-50%);


  &:hover &__svg{
      background-color: rgba(187, 243, 48, 0.9);
      fill: var(--cl-accent);
  }
  &__svg{
      transform: rotate(-90deg);
      width: 50px;
      height: 50px;
      padding-left: 17px;
      padding-right: 17px;

      fill: #505050;
      background-color: rgba(183, 255, 0, 0.5);
      border-radius: 21%;
      transition:
       background-color 500ms cubic-bezier(0.4, 0, 0.2, 1), 
       fill var(--animat);
       box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.2);
  }

}