.nav{
  &__header
  {  
    display: flex;
    @include mq(tab) {
      margin-right: 30px;
    }
 }
  &__footer
  { 
     
    

     @include mq(mob)

      {
          display: flex;
          flex-direction: column;
          
      }
      @media screen and (max-width:768px)
    { margin-right: 104px;
      flex-direction: column;
      display: flex;
    }
      margin-left: auto;
      @include mq(tab)

      {
          display: flex;
          flex-direction:row;
          
      }

  }
  &__list-item:not(:last-child){
  margin-right: 28px;
  display: flex;
  align-items: center;
    
    
  }

  &__list-item{
    display: flex;
    align-items: center;
      &:first-child {
        border-radius: 30px 0px 0px 0px;
      }
      &:last-child {
        border-radius: 0px 0px 30px 30px;
      }
      &:hover, &:focus {
        @include mq(mob-only) {
          background-color: var(--cl-green-light);
          
        }
        & > .nav__cls-btn {
          background-color: var(--cl-green-light);
        }
      }

    }

  &__list-link-footer{
  padding: 28px 0;
  display: inline-block;
  @include fonts(14px, 400, 16px);
  transition: color var(--animat);
  &:hover{  
  color: var(--cl-green-light);
         }
      }
  }


  .nav__list-item:last-child {
    @include mq(mob-only) {
      align-items: center;
      margin-right: 28px;
      display: flex;
    }
  }