
.nav{
    &__header
    {
      display: flex;
      @media screen and (max-width:768px) 
      {
       display: none; 
      }
      margin-right: 30px;
    }
    &__footer
    {
        @include mq(tab)
        {
            display: flex;
        }
        margin-left: 114px;
    }
    &__list-item{
    margin-right: 28px;
    display: flex;
    align-items: center;
    }
    &__list-link{
    padding: 28px 0;
    display: inline-block;
    @include fonts(14px, 400, 16px);
    transition: color var(--animat);
    &:hover{  
    color: var(--cl-green-light);
           }
                }
    }
