.customers {
    min-width: 320px;
    @include section(60px, 60px);
    margin-bottom: -70px;
    @include mq(tab) {
    @include section(60px, 120px);
    
    }
    @include mq(desk) {
    @include section(100px, 200px);
    
    }
    
    background-color: var(--cl-white);
    background-position: bottom;
    background-image: url("../images/customers/Rectangle701.png");
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image:  url('../images/customers/Rectangle701(2x).png');
    }
    @include mq(mob-only) {
    background-image: url("../images/customers/Rectangle702.png");
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/customers/Rectangle702(2x).png');
    }
    }
    @include mq(tab) {
    background-image: url("../images/customers/Rectangle719.png");
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/customers/Rectangle720.png');
    }
    }
    @include mq(desk) {
    background-image: url("../images/customers/Rectangle706.png");
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/customers/Rectangle707.png');
    }
    }
   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.customers__title{
    @include fonts(28, 700, 1.179);
    margin-bottom: 20px;
    @include mq(tab) {
    @include fonts(42, 700, 1.167);
    }
    
}
.customers__lable{
    @include fonts(14, 400, 1.143);
    margin-bottom: 32px;
    @include mq(tab) {
    @include fonts(16, 400, 1.188);
    }
}
.customers__list{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    @include mq(mob-only){
    flex-direction: column;
    gap: 24px;
    }
    @include mq(tab) {
    gap: 32px;
    }
    @include mq(desk) {
    gap: 139px;
    }
}
.customers__item{
    padding: 8px;
 
    @include mq(tab){
    padding: 12px;
    width: 336px;
    }
    @include mq(desk) {
    padding: 14px;
    width: 501px;
    }
    background-color: var(--cl-white);
    border-radius: 0 30 30 30;
}

.customers__icon{
    margin-bottom: 28px;
}
.customers__text{
    @include fonts(16, 700, 1.188);
    margin-bottom: 40px;
    @include mq(tab) {
    @include fonts(18, 700, 1.166);
    }
}
.customer__container{
    display: flex;
    align-items: center;
    
}
.customer__wrapper{
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
    border-right: 0.854167px solid var(--cl-green-dark);
}
