.footer
{display: block;
&__container
{  padding: 60px 20px;
    @include mq(mob-only)
    {
        @include mq(mob);
        height: 619px;
        background-image: url('/src/images/footer/footer-480-1x.jpg');
        background-size: cover;
    }
    border-top: 2px solid black;
}    
&__nav{
    display: flex;
    margin-bottom: 40px;
}
&__logo{
    margin-right: 60px;
}
&__list{
    justify-content: center;
    margin-right: 100px;
    @include mq(mob)
    {display: flex;}
}
    @include mq(mob-only){
        &__list-item:not(:last-child){
            margin-bottom: 20px; 
        }
    }
    &__list-item:not(:last-child){
        margin-right:  28px; 
    }



&__list-pivacy{
    @include centered-flex();
    margin-bottom: 40px;
}
&__list-pivacy-item:not(:last-child){
margin-right: 32px;
}
   &__policy{
        display: block;
        margin-bottom: 60px;
        
    }

&__reserved{
    text-align: center;
    margin-left: 20px;

}
}
.subscribe{
    margin-bottom: 20px;
    &__title{
        margin-bottom: 12px;
    }
    &__input{
        background: var(----cl-white);
        border: 0.854167px solid #FFE550;
        border-radius: 30px;
        margin-bottom: 20px;
        width: 300px;
        height: 45px;
        padding: 12px;
    }
    &__btn{
        @media screen and(max-width:480px) {
            display: block;
        }
        @include mq(mob){
            margin-left: 12px;
        }
        background: #FFFFFF;
        border: 0.854167px solid #7EB101;
        border-radius: 30px;
        width: 100px;
        height: 40px;
        
    }
}
