.header {
  @include centered-flex;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);

  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--current {
      @include mq(tab) {
        color: var(--cl-green-light);
        position: relative;
      }
      @include mq(tab) {
        &::after {
          content: '';

          position: absolute;
          bottom: 26px;
          left: 0;

          display: block;
          width: 100%;
          height: 2px;

          background-color: var(--cl-green-light);
        }
      }
    }
  }

  &__modal-btn {
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);

    @include mq(tab) {
      display: none;
    }
    &:active .header__modal-btn-svg {
      fill: var(--cl-yellow);
    }
  }

  &__modal-btn-svg {
    fill: var(--cl-green-dark);
    transition: fill var(--animat);
  }
  &__order-btn {
    @media screen and (max-width: 768px) {
      display: none;
    }
    @include fonts(14px, 400, 21px);

    &:hover {
      background-color: var(--cl-green-btn-light);
    }
  }
}