.hero {
    @include section(60px, 60px);
    @include mq(tab) {
        @include section(14px, 0);
    }
    @include mq(desk) {
        margin-bottom: -100px;
    }

    &__container {
        position: relative;
        display: flex;
    }
    &__wrap-txt {
        position: relative;
    }
    &__title {
        @include fonts(28px, 700, 33px);
        @include mq(tab){
            @include fonts(42px, 700, 1.2)
        }
        @include mq(desk){
            @include fonts(48px, 700, 1.2)
        }
        margin-bottom: 28px;
        @include mq(tab-only) {
            max-width: 500px;
            margin-bottom: 44px;
        }
        @include mq(desk) {
            max-width: 502px;
            margin-top: 60px;
        }    
    }
    &__txt {
        @include fonts();
        margin-bottom: 28px;
        @include mq(tab) {
            margin-bottom: 40px;
        }
    
        @include mq(tab-only) {
            max-width: 336px;
        }
        @include mq(desk) {
            max-width: 502px;
        }
    }
    &__wrap-img {
        position: relative;
        width: 608px;
        margin-left: auto;
        user-select: none;
        @include mq(mob-only) {
            display: none;
        }   
        @include mq(tab-only) {  
            position: absolute;
            right: 32px;
            top: 90px;
            width: 336px;
        }
    }
    &__circle {
        border: 26px solid #FFE550;
        border-radius: 50%;
        width: 580px;
        height: 580px;
        @include mq(tab-only) {
            width: 320px;
            height: 320px;
            border: 14px solid #FFE550; 
        }
    }
    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);   
    }
    &__icon {
        display: none;
        fill: currentColor;
        &--desk {
            @include mq(desk) {
                display: block;
            }    
        }
        &--tab {
            @include mq(tab-only) {
                display: block;
            }
        }
    }
}

// Classes slider
.swiper-button-next,
.swiper-button-prev {
    width: 48px;
    height: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    transition: opacity var(--animat), color var(--animat);
    color: var(--cl-almost-black) ;
    @include mq(tab-only) {
        width: 38px;
        height: 34px;
        border-radius: 4px;
    }
    &:hover,
    &:focus {
        color: var(--cl-green-btn-dark) ;
    }
}
.swiper-button-next {
    @include mq(tab-only) {
        padding-left: 3px;
    }
}
.swiper-button-prev {
    @include mq(tab-only) {
        padding-right: 3px;
    }
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: .75;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 0px;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 0px;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: '';
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: '';
}