.offerings {
  min-width: 320px;

  @include mq(tab) {
    @include section(150px, 100px);
  }

  @include mq(desk) {
    @include section(177px, 43px);
  }

  background-color: var(--cl-white);

  // mobile screen 320px
  background-image: url(../images/offerings/bg-offerings@1x_320.png);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/offerings/bg-offerings@2x_320.png);
  }

  // mobile screen 480px
  @include mq(mob-only) {
    background-image: url(../images/offerings/bg-offerings@1x_480.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/offerings/bg-offerings@2x_480.png);
    }
  }

  // tablet screen 768px
  @include mq(tab) {
    background-image: url(../images/offerings/bg-offerings@1x_768.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/offerings/bg-offerings@2x_768.png);
    }
  }

  // desktop screen 1280px
  @include mq(desk) {
    background-image: url(../images/offerings/bg-offerings@1x_1280.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/offerings/bg-offerings@2x_1280.png);
    }
  }

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.offerings__inner {
  @include mq(desk) {
    @include centered-flex;
  }
}

.offerings__img--position {
  margin-bottom: 60px;
  @include mq(desk) {
    margin-right: 90px;
  }
}

.offerings__content {
  max-width: 573px;
}

.offerings__title--position {
  max-width: 526px;
  margin-bottom: 28px;

  @include mq(tab) {
    margin-bottom: 20px;
  }
}

.offerings__desc {
  max-width: 500px;
  @include mq(tab) {
    @include fonts(16px, 400, 18.75px);
  }

  @include mq(desk) {
    @include fonts(16px, 400, 24px);
  }
}

.offerings__desc--position {
  margin-bottom: 28px;
  @include mq(desk) {
    margin-bottom: 40px;
  }
}

.offerings__lst {
  @include card-set(28px);

  @include mq(tab) {
    gap: 116px;
    flex-wrap: nowrap;
  }
}

.offerings__lst--position {
  margin-bottom: 28px;
  @include mq(tab) {
    margin-bottom: 40px;
  }
  @include mq(desk) {
    margin-bottom: 32px;
  }
}

.offerings__caption {
  @include fonts(18px, 700, 21px);
}

.offerings__txt {
  @include mq(desk) {
    @include fonts(14px, 400, 21px);
  }
}

.offerings__item {
  position: relative;
  @include card-set(8px);
  padding-top: 56px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--cl-white);
  }

  @for $i from 1 through 2 {
    &:nth-child(2n + #{$i}) {
      &::before {
        background-image: url(../images/offerings/icon-#{$i}.svg);
      }
    }
  }
}

.offerings__thumb {
  display: flex;
  align-items: center;
}

.offerings__btn {
  @include fonts(13px, 500, 1.5);
  background-color: var(--cl-white);
  color: var(--cl-almost-black);
  border: 2px solid var(--cl-green-dark);

  &::hover,
  &::focus {
    border: 2px solid var(--cl-green-btn-dark);
  }
}

.offerings__btn--position {
  margin-right: 24px;
}

.offerings__wrap {
  @include centered-flex;
  gap: 3.42px;

  @include mq(desk) {
    display: none;
  }
}

.offerings__lnk {
  display: block;
  @include fonts(13.67px, 400, 20.5px);
  color: var(--cl-black);
}

.offerings__icon {
  display: block;
}

.icon {
  fill: var(--cl-yellow);
}
