.subscribe{
    @include mq(mob-only){
        padding-bottom: 60px;
    transform: translateY(-64px);    
    }
        @include mq(tab-only) {
            padding-bottom: 100px;
            transform: translateY(-84px);
        }
        @include mq(desk){
            
        transform: translateY(-72px);    
        }
   
}
.subscribe__container{
    @include mq(desk) {
    display: flex;
    flex-direction: row-reverse ;   
    align-items: center;
    }
    
}
.subscribe__img{
    @include mq(mob-only){
    @include centered-flex;
    margin-bottom: 17px;    
    }
    @include mq(tab-only){
    display: flex;
    justify-content: end;
    width: 281px;
    margin-bottom: 20px;
    }
    
}
.subscrib__title{
    @include mq(mob-only) {
    @include fonts(28, 700, 1.2);
    margin-bottom: 20px;        
    }
    @include mq(tab-only) {
    @include fonts(42, 700, 1.2);
    margin-bottom: 20px;
    }
}
.subscribe__text{
    @include mq(mob-only) {
    margin-bottom: 40px;       
    }
    @include mq(tab-only) {
    margin-bottom: 20px;
    }
}
// .footer-form {
//     align-items: center;

//     @include mq(desk) {
//         display: flex;
//     }
// }
.subscribe__wrap{
   display: flex; 
   flex-direction: column;
   
    
}
.subscribe-form{
    @include mq(tab) {
    display: flex;
    align-items: center;       
    }
}
.subscribe-form__input {
    @include fonts(12, 400, 1.5);
    @include mq(mob-only) {
            margin-bottom: 20px;
        }
    padding: 12px 12px;
    width: 100%;
    height: 42px;

    @include mq(tab-only) {
        width: 450px;
        margin-right: 22px;
    }

    @include mq(desk) {
        width: 358px;
        margin-right: 12px;
    }

    border: 1px solid var(--cl-yellow);
    border-radius: 30;
    // color: $portfolio-bg-cl;
    background-color: transparent;
    outline: transparent;
    // transition: border $transition;

    &:hover,
    &:focus {
        border: 1px solid var(--cl-green-dark)
    }
}
.subscribe__button{
    display: block;
    @include mq(mob-only) {
    margin-left: auto;       
    }
    
}
