.subscribe{
    @include mq(mob){
    padding-bottom: 60px;    
    }
    @include mq(tab) {
    padding-bottom: 100px;  
    }
    @include mq(desk){
    padding-bottom: 64px;
    }
}
.subscribe__container{
    @include mq(desk) {
    display: flex;
    flex-direction: row-reverse ;   
    align-items: center;
    }
    
}
.subscribe__img{
    @include mq(mob-only){
    @include centered-flex;
    max-width: 161px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 17px;    
    }
    @include mq(tab-only){
    display: flex;
    max-width: 281px;
    margin-left: auto;
    margin-bottom: 20px;
    }
    @include mq(desk){
    max-width: 546px;
    }
}
.subscribe__title{
    @include fonts(28, 700, 1.2);
    margin-bottom: 20px;        
    @include mq(tab) {
    @include fonts(42, 700, 1.2);
    margin-bottom: 20px;
    }
}
.subscribe__text{
    margin-bottom: 40px;       
    @include mq(tab) {
    margin-bottom: 20px;
    }
}
.subscribe__wrap{
    display: flex; 
    flex-direction: column;
}
.subscribe__button--green{
    @include mq(mob-only){
    margin-left: auto;    
    }
    border: none;
    background-color: var(--cl-green-light);
    &:hover, &:focus{
    background-color: var(--cl-green-btn-light);
    }
}